<div class='container'>
  <div class='row'>
    <%= form_for @billboard do |f| %>
    <div class='col m6'>
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>
    <div class='col m6' class='border-bottom-color'>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    
    <div>
    <%= f.submit class: 'btn black white-text' %>
    </div>

    <% end %>
  </div>
</div>