<!DOCTYPE html>
<html>
  <head>
    <title>MusicBillboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class='deep-orange darken-1'>
  <ul class='right'>
    <li> <a href="/"> Home </a> </li>
    <li> <%= link_to 'About', about_path %> </li>
    <li> <a href='/contact'> Contact </a> </li>
    <li> <a href='/billboards'>Billboards</a></li>
  </ul>
	</nav>

    <%= yield %>
  </body>
</html>
